body{
  font-family: 'Times New Roman', Times, serif;

}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 100%;
}

p {
    text-indent: 10px;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.add {
  color: green;
}

.del {
  text-decoration: line-through;
}

.h2page{
  font-style: italic;
  color: rgb(51, 51, 156);
}

.doyleimage{
  inline-size: 30%;
  align-items: center;
  margin-left: 50px;
 
}

